<div class="wrapper">
  <div class="header">
    <div class="title">
      <h1>MY WEATHER</h1>
    </div>
  
      <div class="header-search">
        <input type="text" placeholder="Minsk" [(ngModel)]="city">
        <img src="../assets/icons/search.png" alt="" (click)="getCurrentWeather()" (click)="getForecastWeather()">
      </div>
  </div>
  
  <div class="weather-view">
    <p>Today</p>
    <p>5 day-forecast</p>
  </div>

  <div class="container"> 

    

      <div class="header">

        <h1>CURRENT WEATHER</h1>
        <h3>{{todayWheather.dt * 1000 |date: 'dd/MM/yyyy'}}</h3>

      </div>  
      
      <div class="today-info" *ngIf="todayWheather">
        <div class="today-img">
          <img [src]="getIcon(todayWheather.weather[0].icon)">
          <p>{{todayWheather.weather[0].main}}</p>
        </div>

        <div class="today-temp" >
          <p class="temp">{{todayWheather.main.temp.toFixed(0)}}<sup>o</sup>C</p>
          <p class="feelsLike">Feels like:{{todayWheather.main.feels_like.toFixed(0)}}<sup>o</sup>C</p>
          
        </div>

        <div class="today-time">
          <p>Sunrise: {{getTime(todayWheather.sys.sunrise)}}</p>
          <p>Sunset: {{getTime(todayWheather.sys.sunset)}}</p>
          <p>Duration: {{getDurationTime(todayWheather.sys.sunrise, todayWheather.sys.sunset)}}</p>
          
        </div>
      </div>  
  </div>

  <div class="container">
    <div class="header">
      <h1>HOURLY</h1>
    </div>  
    <div class="hourly">
      <div class="weather-params">
        <p>{{todayWheather.dt * 1000 |date: 'dd/MM/yyyy'}}</p>
        <div class="icon"></div>
        <p>Forecast:</p>
        <p>Temp:</p>
        <p>Real Feel:</p>
        <p>Wind Speed:</p>
      </div>
      <div class="weather-info" *ngFor="let oneDayForecast of getThreeHoursData(timezonedForecastInfo, selectedDate)">
        <p>{{oneDayForecast.dt * 1000 |date: 'HH:mm' }}</p>
        <div class="icon"><img [src]="getIcon(oneDayForecast.weather[0].icon)" alt="weather-icon" /></div>
        <p>{{oneDayForecast.weather[0].main }}</p>
        <p>{{oneDayForecast.main.temp.toFixed(0)}}<sup>o</sup>C</p>
        <p>{{oneDayForecast.main.feels_like.toFixed(0)}}<sup>o</sup>C</p>
        <p>{{oneDayForecast.wind.speed.toFixed(1)}} m/s</p>
      </div>
    </div>
  </div>
</div>